---
import { AddGastoFormWrapper } from './AddGastoFormWrapper';
import { GastosProvider } from '../../context/GastosContext';
---

<div class="w-full">
  <GastosProvider client:only="react">
    <AddGastoFormWrapper client:load />
  </GastosProvider>
  </div>