---
import Layout from '../layouts/Layout.astro';
import HomeRedirect from '../components/auth/HomeRedirect.tsx';
import GastosApp from '../components/GastosApp.tsx';
import { AddGastoFormWrapper } from '../components/inputs/AddGastoFormWrapper';
import { GastosProvider } from '../context/GastosContext';
---

<Layout title="Expense Tracker">
	<main class="container mx-auto px-4 py-8">
		<HomeRedirect client:only="react" />
		<h1 class="text-xl sm:text-2xl md:text-3xl font-bold mb-4 sm:mb-6 md:mb-8">
			Expense Tracker
		</h1>
		<div class="grid grid-cols-1 gap-8">
			<div class="bg-white rounded-lg shadow-md p-6">
			<div class="w-full">
				<GastosProvider client:only="react">
					<AddGastoFormWrapper client:load />
				</GastosProvider>
			</div>
		</div>
			<div class="bg-white rounded-lg shadow-md p-6">
			<div class="w-full">
				<GastosApp client:load />
				</div>
			</div>
		</div>
	</main>
</Layout>

<script>
	document.addEventListener('nuevoGasto', (e: any) => {
		const customEvent = e as CustomEvent;
	});
</script>
