---
import Layout from '../layouts/Layout.astro';
import ResumenApp from '../components/ResumenApp';
---

<Layout title="Resumen de Gastos">
  <h1>Resumen de Gastos</h1>
  
  <ResumenApp client:load />
</Layout> 